body {
  font-size: 16px;
  line-height: 1.75;
}

.container {
  max-width: 600px;
}

.main svg {
  margin-bottom: 32px;
}

.donate a {
  height: 63px !important;
  line-height: 63px !important;
}

.donate a span {
  margin-left: 5px !important;
}

.share a {
  margin-right: 1px;
}

.share a img {
  background-color: #212529;
}

.signature {
  text-align: center;
}

line.link {
  stroke: #212529;
  stroke-width: 8px;
}

line.link.intersect {
  stroke: #dc3545;
}

circle.node {
  fill: #212529;
}

circle.node:hover {
  fill: #17a2b8;
}

/* uncss:ignore */
circle.node.selected {
  fill: #007bbf;
}
