body {
  font-size: 16px;
  line-height: 1.75;
}

.container {
  max-width: 600px;
}

.signature {
  text-align: center;
}

line.link {
  stroke: #212529;
  stroke-width: 8px;
}

line.link.intersect {
  stroke: #dc3545;
}

circle.node.selected {
  stroke: #007bbf;
  stroke-width: 6px;
}
